<%= form_for [@home, @booking] do |f| %>
  <p>

    <%= f.label :start_date %>
    <%= f.date_select :start_date, :required => true %>
  </p>
  <p>
    <%= f.label :end_date %>
    <%= f.date_select :end_date, :required => true %>
  </p>

  <%= f.submit %>
<% end %>
