<h2>Your Bookings</h2>


<ul>
  <% @bookings.each do |booking| %>
    <li>
      <%= booking.start_date.strftime('%A %e %B, %Y') %> - <%= booking.end_date.strftime('%A %e %B, %Y') %>: <%= booking.home.name %>
      <%= link_to 'View Details', booking_path(booking.id) %>
  <% end %>
</ul>

<%= link_to 'Create a Booking', new_booking_path %>
