<div class="home-header">
  <%= image_tag @home.image, :class => 'feature' %>
  <h2><%= @home.name %></h2>
</div>

<div class="home-show-container">
  <h3><%= @home.city.name %></h3>
  <p>
    <strong>Max guests:</strong> <%= @home.max_guests %><br>
    <strong>Bathrooms:</strong> <%= @home.bathrooms %><br>
    <strong>Check In:</strong> <%= @home.check_in.strftime('%l %M %p') %><br>
    <strong>Check Out:</strong> <%= @home.check_out.strftime('%l %M %p') %><br>
    <%= @home.description %><br>
    <span class="price"><strong>Price:</strong> <%= @home.price %></span><br>
  </p>




  <div class="controllers">
    <% if @current_user.present? == false %>
      <%= link_to 'Login to Book this Home', login_path %>
    <% elsif @current_user.id == @home.user_id %>
      <%= link_to 'Edit home', edit_home_path %>
      <%= link_to 'Delete home', @home, :method => 'delete', :data => {:confirm => 'Are you sure?'} %>
    <% else %>
      <%= link_to 'Book this home', "/homes/#{@home.id}/bookings/new" %>
    <% end %>
  </div>
</div>
