<%= form_for @city do |f| %>

  <p>
    <%= f.label :name, "City" %>
    <%= f.text_field :name, :placeholder => "London" %>
  </p>
  <p>
    <%= f.label :country %>
    <%= f.text_field :country, :placeholder => "England" %>
  </p>
  <p>
    <%= f.label :image %>
    <%= f.text_field :image %>
  </p>

  <%= f.submit %>
<% end %>
