<h2>Home, wherever you are</h2>

<%= link_to 'Can\'t find your city on the list? Add it here', new_city_path %>


<div class="cities_display">
  <% @cities.each do |city| %>
    <%= link_to(city_path(city.id)) do %>
      <div class="city_thumb_wrapper">
        <%= image_tag city.image, :class => 'thumb' %>
        <p><%= city.name %></p>
      </div>
    <% end %>
  <% end %>
</div>


<!-- <ul>
  <% @cities.each do |city| %>
    <li>
      <%= link_to city.name, city_path(city.id) %>
    </li>
  <% end %>
</ul> -->
