<h1><%= @city.name %></h1>
<h3><%= @city.country %> </h3>
<%= image_tag @city.image %>


<div class="controllers">
  <%= link_to 'Edit City', edit_city_path %>
  <%= link_to 'Delete City', @city, :method => 'delete', :data => {:confirm => 'Are you sure you want to delete this city?'} %>

</div>
